/***********************
Main CSS
***********************/

body {
	background-color: #e4eff7;
	background-image:url(<%=asset_path "pattern.png"%>);
	background-repeat: repeat;
	font-family: 'Lusitana', normal;
	font-size: 17px;
}

.main {
	padding-top: 90px;
}

