<h1>Hello!</h1>
<p>Quick contact info: You can reach me at <b>roompatible (at) gmail.com</b> or at <b>(646) 543-0583</b>.</p>

    <br />

<h2>Who is behind Roompatible?</h2>
<div class="span16">
    <div class="row">
        <div class="span12">
            <p>Hi, my name is Carl and I am the guy behind Roompatible*. I started Roompatible because, let's be honest, finding a compatible roommate is not as easy as it sounds. If you have ever been in a situation in which you and your roommates didn't get along, you know exactly what I am talking about.</p>
    <br />
            <strong>Short Bio:</strong>
            <p>I currently live in Brooklyn, NY, and really enjoy traveling and meeting new people. As a matter of fact, I'd love to hear from you - so feel free to shoot me an email at <b>roompatible (at) gmail.com</b> or call me at <b>(646) 543-0583</b>. This is my direct cellphone number.</p>
        </div>
        <div class="span4">
            <%= link_to image_tag("carl.png"), "http://www.twitter.com/carlsednaoui", :target => "_blank" %>
        </div>
    </div>
    <br />
    <p>Thank you so much for stopping by and please don't hesitate to reach out - comments, suggestions and constructive criticism welcome.</p>
    <br />
    <p>*A special thank you must got to David; it is because of his mentorship that Roompatible exist. Thank you Dave!</p>
</div>
