<h1>How Roompatible Works</h1>
<div class="row">
    <div class="span16">
<p>Roompatible makes it easy for you to find compatible roommates. You can see how compatible you are with others depending on your compatibility score - also called "Roompatibility". Your Roompatibility ranges from 0% to 100% (100% = roommate soulmates).</p>
    </div>

    <div class="span16 padding">
        <h2>Why should I log in, you ask?</h2>
            <p>When you log in with your Twitter or Facebook account you enable the Roompatible community to see that you are a real person. It is also a good way to keep spammer and creepers away.</p>
            <p>Here are additional reasons why logging in rocks:</p>
            <%= image_tag("hiw.png") %>
            <p>Tip: Once you are logged in, click on your name in the top right hand corner to access your dashboard and view your messages.</p>
        </ol>
    </div>
</div>

<h2>How do you calculate the roommate compatibility score?</h2>
<p>Aha! You didn't think it would be that easy, did you? Details on how we calculate your roompatibility score is a secret. It's roompatible's "<a href="http://en.wikipedia.org/wiki/Coca-Cola_formula" target="_blank">secret recipe</a>."</p>
