<!-- Google Website Optimizer Control Script -->
<script>
	function utmx_section(){}function utmx(){}
	(function(){var k='0780022408',d=document,l=d.location,c=d.cookie;function f(n){
			if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.indexOf(';',i);return escape(c.substring(i+n.
					length+1,j<0?c.length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;
		d.write('<sc'+'ript src="'+
		'http'+(l.protocol=='https:'?'s://ssl':'://www')+'.google-analytics.com'
		+'/siteopt.js?v=1&utmxkey='+k+'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='
		+new Date().valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
		'" type="text/javascript" charset="utf-8"></sc'+'ript>')})();
</script><script>utmx("url",'A/B');</script>
<!-- End of Google Website Optimizer Control Script -->
<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['gwo._setAccount', 'UA-23209172-2']);
	_gaq.push(['gwo._trackPageview', '/0780022408/test']);
	(function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	 })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->

<h1>Roompatible helps you find compatible roommates</h1>
<p>No more creepy Craigslist posts. No more moving in with total strangers. Completely FREE.</p>
    <br />
<div class="row">
    <div class="span12">
        <%= link_to image_tag("roompatible-3-steps.png"), "/sign-up" %>
    </div>
    <div class="span4">
    <br />
        <% if current_user %>
        <% else %>
            <a class="btn large primary padding" href="/sign-up">Log In/ Sign up</a>
        <% end %>
    </div>
    <div class="span4">
        <a href="/rooms" class="btn large default padding">View all Rooms</a>
        <% if current_user %>
            <a href="/rooms/new" class="btn large primary padding">Submit a Room</a>
        <% else %>
        <% end %>
    </div>
</div>
<h1 class="offset1"><small>*Spamming is wack. We will <strong>never</strong> Tweet, post, or share anything on your behalf.<small></h1>
    <br />
<div class="row">
<p class="span16">Roompatible is the free and easy way to find compatible roommates. Simply log in with Facebook or Twitter, answer a few questions and you are ready to go. You will be all set in under 2 minutes!</p>
</div>

    <br />

<div class"span16">
<p>We are new in town! Want to help us out and gain karma points? <a href="http://www.roompatible.com/rooms">Post a room</a> or send us your feedback.</p>
    <br />
<p>Roompatible is only available in New York (for now), however, if you would like to see us launch in your city soon, please <a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dGd4WkwycGxuQ1F0UFlwYUpsWnlIb2c6MQ" target="_blank">vote for your city</a>.</p>
</div>

