<h1>Roompatible helps you find compatible roommates</h1>
<p>No more creepy Craigslist posts. No more moving in with total strangers. Yes, it's free & easy.</p>
<br />
<div class="row">
	<div class="span12">
		<iframe width="675" height="400" src="http://www.youtube.com/embed/jnPdLdAtNbs?hl=en&fs=1" frameborder="0" allowfullscreen></iframe>
		<% link_to image_tag("roompatible-3-steps.png"), "/sign-up" %>
	</div>
	<div class="span4">
		<br />
		<% if current_user %>
			<a href="/rooms/new" class="btn large primary padding">Submit a Room</a>
			<a href="/rooms" class="btn large default padding">View all Rooms</a>
		<% else %>
			<a href="/rooms" class="btn large primary padding span2">View all Rooms</a>
			<a class="btn large success padding span2" href="/sign-up">Log In/ Sign up</a>
		<% end %>
	</div>

	<div class="span4">
	<br />
		<p>Sign up to</p>
		<ul>
			<li>Post Rooms</li>
			<li>Message Users</li>
			<li>View Full User Profiles</li>
			<li>Post Rommate Requests</li>


		</ul>
	</div>
</div>
		<br />
		<div class="row">
			<p class="span16">Roompatible is the free and easy way to find compatible roommates. Simply log in with Facebook or Twitter, answer a few questions and you are ready to go. You will be all set in under 2 minutes!</p>
		</div>


		<!-- Google Website Optimizer Tracking Script -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['gwo._setAccount', 'UA-23209172-2']);
			_gaq.push(['gwo._trackPageview', '/0780022408/test']);
			(function() {
			 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 })();
		 </script>
		 <!-- End of Google Website Optimizer Tracking Script -->

