<h1>What is roompatible, you ask?</h1>
<p>Not getting along with your roommates is awful! If this has happened to you before, you most certainly agree with me. If it hasn't happened to you yet, consider yourself lucky. Seriously!</p>
<p>In short, roompatible is a free, online service, that helps you measure how compatible you and your future roommate are. When it comes to living under the same roof, the fact that you are both non-smokers and both love cats won't cut it. When you live under the same roof you need a deeper, more meaningful, compatibility. Measuring such compatibility was a royal pain (and nearly impossible to do over email or a craigslist post) therefore roompatible was created.</p>
<p>As of today, roompatible is a one-man operation so if you have any ideas or feedback please feel free to send them my way.</p>
<p>Thanks a lot for your time and good luck roommate hunting!</p>