<div class="row">
    <div class="span16">
        <h1>Thank you for completing the quiz <%= @current_user_name.capitalize %>!</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <p>If you have any questions or suggestions feel free to <a href="http://www.roompatible.com/contact">get in touch</a> with us!</p>
    </div>
    <div class="span4">
        <a href="/rooms" class="btn large default padding">View all Rooms</a>
        <a href="/rooms/new" class="btn large primary padding">Submit a Room</a>
    </div>
</div>
