<h2>404</h2>
<div>
	<h3>We're sorry</h3>
	<p>
	The content that you requested could not be found.
	</p>
	<p>
	You tried to access '<%= {@not_found_path} %>', which is not a valid page.
	</p>
	<p>
	Want to
	<a>go back to our home page</a>
	and try again?
	</p>
</div>


