/***********************
Main CSS
***********************/

body {
	background: #cce8f5 url('../assets/gradient.png') top center repeat-x;
	font-family: arial, helvetica, sans-serif;
}

.main {
	padding-top: 90px;
}

footer p {
	font-size: 0.8em;
}

.container {
	font-size: 1.1em;
}

.quick-nav {
	margin-bottom: 1em;
	font-size: 1.2em;
}

.padding {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2em;
	color: #3B5D6C;
	font-family: arial, helvetica, sans-serif;
	text-shadow: 0px -1px 5px #CAE4EF;
}

h1 small {
	color: #7C8183;
}

h2 {
	font-size: 1.5em;
	color: #3B5D6C;
	text-shadow: 0px -1px 5px #CAE4EF;
}

h2 small {
	color: #7C8183;
}

p {
	font-family: arial, helvetica, sans-serif;
	color: #5c676c;
	font-size: 1.1em;
	line-height: 1.4em;
}

li {
	line-height: 1.3em;
}

form {
	font-family: arial, helvetica, sans-serif;
	color: #5c676c;
	font-size: 1.2em;
	line-height: 1.2em;
}

label {
	font-family: arial, helvetica, sans-serif;
	color: #5c676c;
	font-size: .8em;
}

.take-quiz {
	margin-bottom: .2em;
}

.help-block {
	color: #7C8183;
}

.floatleft {
	margin: 0px 20px 5px 0px;
}

.user_picture {
	margin-left: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.room_index {
	margin-left: 10px;
	font-size: 1.5em;
}

/***********************
Top Navigation
***********************/
.secondary-nav {
	padding: 1em 1em;
}

#logo {
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

/***********************
Current=user-area
***********************/
#sign-in {
	color: white;
	font-weight: bold;
}

/***********************
Rails input CSS
***********************/

#rails {
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 50px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  clear: both;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#error_explanation {
  width: 500px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: red;
  color: #fff;
}

#error_explanation ul li {
	padding-top: 5px;
	font-size: 1em;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

/***********************
Homepage - take quiz button
***********************/
.steps {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 1.5em;
}

/***********************
Room Listing
***********************/
.room-list {
	font-family: helvetica, sans-serif;
}

.room-list-description {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.room-amenities {
	list-style: none;
	line-height: 1em;
	text-align: justify;
}

.pets {
	list-style: none;
	line-height: 1em;
	text-align: justify;
}

.room-title {
	font-size: 2em;
	margin-bottom: 0em;
}